@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*Základní styly */
body {
  margin: 0;
  font-family: "Outfit", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    329deg,
    rgba(255, 255, 255, 1) 14%,
    rgba(59, 149, 177, 1) 60%,
    rgba(24, 104, 130, 1) 95%
  );
  color: #ffff;
}
h2 {
  font-size: 2rem;
  color: rgb(60, 90, 116);
}

p {
  font-size: 1.5rem;
}

h1 {
  font-size: 6rem;
  color: rgb(60, 90, 116);
}
.app {
  width: 100%;
  height: 100vh;
  position: relative;
}
.app .description {
  color: rgb(60, 90, 116);
  position: relative;
  right: -2%;
  
  
}
/*Ostylování pozadí*/
.app:before {
  content: "";
  background: url("./assets/background.jpg") no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
/*Styly k vyhledánači*/
.app .search {
  text-align: center;
  padding: 1rem;
}
.app input {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px 5px 5px 25px;
  border: 1px solid rgb(60, 90, 116);
  background: rgb(60, 90, 116);
  color: #ffff;
}
.app input:focus {
  outline: 1px solid rgb(83, 99, 115);
}
.app button {
  padding: 0.7rem 1.5rem;
  border-radius: 5px 25px 25px 5px;
  font-size: 1.2rem;
  border: 1px solid rgb(60, 90, 116);
  background: rgb(60, 90, 116);
  color: #bac3c6;
}
.app button:hover {
  cursor: pointer;
  background: #3b93a9;
  color: #ffff;
  transition: 2s;
}
/*Styl k dnešní předpovědi*/
.container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.app .header {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*Styly k předpovědi na následujících 5 dnů */
.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #3b93a9;
  opacity: 0.85;
  border-radius: 0.7rem;
}
.app .bottom:hover {
  background: rgb(112, 178, 198);
  background: linear-gradient(
    307deg,
    rgba(112, 178, 198, 1) 0%,
    rgba(112, 178, 198, 1) 22%,
    rgba(59, 149, 177, 1) 43%,
    rgba(31, 127, 157, 1) 85%
  );
  transition: 2s;
  cursor: pointer;
}
/* Detaily*/
.bold {
  font-weight: bold;
}
.date {
  font-size: 1.2rem;
}
